.profile__button-edit {
   grid-area: button-edit;
   background-image: url(./img/Edit-Button.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: inherit;
   width: 24px;
   height: 24px;
   align-self: end;
   margin-bottom: 7px;
   border: 1px solid #fff;
   cursor: pointer;
   box-sizing: border-box;
   transition: opacity 0.2s linear;
}