.root {
   background-color: #000000;
   max-width: 1280px;
   min-width: 320px;
   margin: 0 auto;
}

.page {
   font-family: 'Inter', 'arial', sans-serif;
   font-style: normal;
   max-width: 880px;
   min-width: 282px;
   margin: 0 auto;
   width: 100%;
   /* сглаживание */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   /* Подгонка размера текста */
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
}

.header {
   padding: 45px 0 41px;
   margin: 0 0 40px 0;
   border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header__logo {
   display: block;
}

.main {
   display: flex;
   flex-direction: column;
}

/* !--------------------------------------profile */

.profile {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 51px;
}

.profile__avatar {
   background-image: url(./img/Avatar.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   margin-right: 30px;
}

.profile__info {
   color: #FFFFFF;
   margin-right: auto;
   display: grid;
   grid-template-areas:
      "name button-edit"
      "about about";
   row-gap: 16px;
   column-gap: 18px;
}

.profile__name {
   grid-area: name;
   margin: 0;
   font-weight: 500;
   font-size: 42px;
   line-height: 48px;
   align-self: end;
}

.profile__button-edit {
   grid-area: button-edit;
   background-image: url(./img/Edit-Button.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: inherit;
   width: 24px;
   height: 24px;
   align-self: end;
   margin-bottom: 7px;
   border: 1px solid #fff;
   cursor: pointer;
   box-sizing: border-box;
   transition: opacity 0.2s linear;
}

.profile__button-edit:hover {
   opacity: 0.6;
}

.profile__text {
   grid-area: about;
   margin: 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}

.profile__button-add {
   cursor: pointer;
   width: 150px;
   height: 50px;
   background-image: url(./img/Add-Button.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   align-self: center;
   background-color: inherit;
   border: 2px solid #fff;
   box-sizing: border-box;
   border-radius: 2px;
   transition: opacity 0.2s linear;
}

.profile__button-add:hover {
   opacity: 0.6;
}

/* !--------------------------------------box */

.box {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
   column-gap: 17px;
   row-gap: 20px;
   justify-content: center;
   width: 100%;
   margin-bottom: 67px;
}

.box__element {
   display: flex;
   flex-direction: column;
}

.box__image {
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.box__description {
   background-color: #FFF;
   display: flex;
   justify-content: space-between;
   padding: 25px 15px 31px 21px;
   align-items: center;
   max-height: 23px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.box__title {
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
   margin: 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   max-width: 198px
}

.box__heart {
   cursor: pointer;
   width: 22px;
   height: 19px;
   background-image: url(./img/heart.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border: none;
   display: block;
   background-color: initial;
   transition: opacity 0.2s linear;
}

.box__heart:hover {
   opacity: 0.5;
}

/* !--------------------------------------footer */

.footer__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: #545454;
   margin: 0;
}

/* @media screen and (max-width: 980px) {
   .page {
      width: 90%;
   }
} */
