.popup__error {
  height: 15px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #FF0000;
}
