.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  padding: 0;
  background-image: url(../../../images/close.svg);
  background-color: transparent;
  border: none;
  top: -40px;
  right: -40px;
  background-size: contain;
}

@media screen and (max-width: 683px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
