.profile__avatar {
  position: relative;
}

@media screen and (min-width: 571px) and (max-width: 746px) {
  .profile__avatar {
    margin-left: auto;
  }
}

@media screen and (max-width: 570px) {
  .profile__avatar {
    margin: 0 0 26px;
  }
}
