.popup__button-submit {
  cursor: pointer;
  border: none;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  width: 358px;
  height: 50px;
  color: #fff;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.2s linear;
}

.popup__button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
